.for{
    text-align: center;
    color: aliceblue;
    background-color: black;
}
.while{
    text-align: center;
    color: aliceblue;
    background-color: black;
}
h1{
    background-color: dodgerblue;
    text-align: center;
}